**/.vscode/*
**/venv/*
**/__pycache__/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
!**/.vscode/*.code-workspace

# Local History for Visual Studio Code
.history/

web/bin/
web/obj/

rabbitmq.conf
.env